.header{
    display: flex;
    gap: 20%;
    height: 120px;
    background-color: darkgray;


}

.logo_container{
    display: flex;
    align-items: center;

}
.logo_container img{
    height: 120%;
}
.navigation{
    display: flex;
    align-items: center;
    gap: 30%;

}
.navigation a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}
.userMenu{
    display: flex;
    align-items: center;
    margin-left: 20%;
    gap: 30%;
}
.userMenu img{
    height: 40px;
}
.container {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.container input[type=text], input[type=password] {
    width: 25%;
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
}
.link {
    color: dodgerblue;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}
footer{
    bottom: 0;
    width: 100%;
    background-color: black;
}
.footer_section{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer_section a {
    color: dodgerblue;
}
.bloquefooter input[type=text]{
    width: 70%;
    padding: 5px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
}
.image_logo{
    height: 200px;
}
