footer{
    bottom: 0;
    width: 100%;
    background-color: black;
}
.footer_section{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer_section a {
    color: dodgerblue;
}
.bloquefooter input[type=text]{
    width: 70%;
    padding: 5px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
}